
<div class="card" style="width: 18rem;">
  <% if article.picture.attached?  %>
    <img src="<%=(url_for(article.picture))%>" class="card-img-top" alt="...">
  <% else %>
    <%= image_tag('image_placeholder.png', class: 'card-img-top') %>
  <% end  %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to article.title, article, class: 'card-link' %></h5>
      <%= link_to "Delete article", article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
  </div>
</div>
