<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Articles</h1>
  <p class="lead">View what articles are published below!</p>
  <hr class="my-4">
  <%= link_to "New Article", new_article_path, class: 'btn btn-primary' %>
</div>

<ul>
  <% @articles.each do |article| %>
    <%= render 'articles/admin_show', article: article %>
  <% end %>
</ul>
